.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boards-container {
  max-width: 1600px;
  padding: 22px;
  display: flex;
  justify-content: center;
  max-height: 90vh;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem;
}

.bingo-board {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  grid-template-rows: repeat(5, 100px);
}

.bingo-piece {
  border: goldenrod 0.5px solid;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  max-width: 350px;
  aspect-ratio: 1/1;
}

.dragging {
  background-color: cadetblue;
  border: mediumslateblue 2px solid;
  transition: all 300ms ease;
}

.checked {
  background-color: bisque;
  transition: all 300ms ease;
}
